backend/.venv/
backend/db.sqlite3
backend/media/covers/
backend/media/excel/*.xlsx
backend/**/__pycache__/
backend/**/*.pyc
backend/staticfiles/
app/.dart_tool/
app/build/
app/.flutter-plugins-dependencies
.DS_Store
